.keyboard-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ms-5 {
    margin: 0!important;
    padding: 0;
    color: #fff;
}
.btn {
    font-size: 18px!important;
}

.score {
    display: flex;
    align-items: center;
    width: 200px;
    min-height: 120px;
    font-size: 20px;
    line-height: 1;
    color: #FFF;
    perspective: 100px;
    transition: all .07s ease;
  }

.data-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.correct-blue {
    background: blue!important;
}

.table {
    border: 4px solid var(--background)!important;
    border-radius: 10px!important;
    overflow: hidden;
}
.th, td {
    background-color: var(--primary)!important;
}

.modal-content {
    background-color: var(--background);
    border: 4px solid var(--primary)!important;
}