h1 {
    font-size: 2rem;
}

.lesson-content h1, .lesson-content p, .lesson-content ul {
    color: var(--light-text);
}

.lesson-section {
    width: 100%;
    display: flex;
}
.lessons-piano-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar {
    position : relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    /* background-color: #12171e; */
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease-in-out;
}

.sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 250px;
}
.sidebar-controller {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sidebar.active .sidebar-controller {
    justify-content: flex-end;
}

.sidebar #hamburger-menu {
    color: #fff;
    font-size: 1.2rem;
    line-height: 50px;
    cursor: pointer;
}

.sidebar.active #hamburger-menu {
    left: 90%;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: #12171e;
}
.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .lesson-item {
    opacity: 0;
    width: 0;
}

.sidebar.active .lesson-item {
    width: 100%;
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 120px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
    color:#fff;
    background-color: #12171e;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.hints {
    text-align: center;
}

.lesson-tab {
    background-color: #f0ad4e; /* Customize this */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 5px;
    color: #fff;
}

.lesson-tab.active {
    background-color: #ffc107; /* Active state color */
}

.lesson-content {
    display: none;
}

.lesson-content:not(.d-none) {
    display: block;
}

.highlight {
    background-color: #ffc107; /* Highlight color for piano keys */
}