:root {
    --background: #333333;
    --primary: #D4AF37;
    --light-text: #F7F7F7;
}

body {
    background-color: var(--background);
}

nav, .about {
    background-color: var(--primary);
    background-image: url("../images/gold.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 5px 10px var(--primary);
}

.link-underline {
    border-bottom: 4px solid transparent;
}

.link-underline:hover {
    border-bottom: 4px solid var(--background);
}

.badge {
    background-color: var(--background);
    color: var(--primary);
    border: 3px solid var(--background);
}

.badge:hover {
    background-color: var(--primary)!important;
    color: var(--background);
    border: 3px solid var(--background);
}

.drop-menu {
    background-color: var(--background);
    border: 2px solid var(--primary)!important;
    margin-left: -90px;
}

.drop-menu-item, .name {
    color: var(--primary);
}
  
.dropdown-item:hover {
    background-color: transparent;
    color: var(--light-text);
}
  
.dropdown-item:hover a {
    text-decoration: none;
}

.link-nav {
    color: #000;
}

.offcanvas {
    background-color: var(--background);
    color: var(--primary);
    border: 2px solid var(--primary)!important;
}

.btn-close {
    background-color: var(--primary);
    border: 2px solid transparent;
    opacity: 1;
}

.btn-close:hover {
    background-color: var(--background);
    border: 2px solid var(--primary);
}

h1, .lead{
    color: var(--light-text);
}

.primary-btn {
    background-color: var(--background);
    border: 3px solid var(--primary);
    color: var(--primary);
    transition: 0.3s ease-in-out;
}

.primary-btn:hover {
    background-color: var(--primary);
    border: 3px solid var(--background);
    color: var(--background);
}

.primary-fill-btn {
    background-color: var(--primary);
    border: 3px solid var(--background);
    color: #000;
    transition: 0.3s ease-in-out;
}

.primary-fill-btn:hover {
    background-color: var(--background);
    border: 3px solid var(--primary);
    color: var(--primary);
}

.footer-img {
    font-size: 3rem;
}

.about {
    box-shadow: none;
}

.hide {
    display: none;
}
  
.login {
    margin-bottom: 128px;
}

form label, form li, form small {
    color: var(--light-text)!important;
}

form li, form small {
    opacity: 0.7;
}


@media screen and (max-width: 991px) { 
    .link-nav {
        color: var(--primary);
    }

    .link-nav:hover {
        color: var(--light-text);
    }
}