<div class="p-2 lg:p-0 bg-cover bg-center relative bg-no-repeat" style="background-image: url(/aeropage/assets/auth-bg-99c51f99.jpg);">
	<div class="absolute inset-0 bg-black/10"></div>
	
	<div class="h-screen flex justify-center items-center">
			<div class="bg-black/60 backdrop-blur-3xl overflow-hidden rounded-lg max-w-4xl">
					<div class="grid lg:grid-cols-2">
							<div class="py-2.5 ps-2.5 hidden lg:block">
									<div class="relative h-full">
											<div class="absolute inset-0 bg-black/40"></div>
											<img src="/aeropage/assets/auth-img-4c4359bf.jpg" alt="" class="w-full h-full rounded-md">
									</div>
							</div>
							<div class="h-full">
									<div class="flex flex-col h-full p-6">
											<a href="index.html" class="shrink block mb-8">
													<img class="h-8" src="/aeropage/assets/logo-light-82928a21.png" alt="images">
											</a>

											<div class="my-auto text-center">
													<h4 class="text-2xl font-bold text-white mb-4">See you Again!</h4>
													<p class="text-default-300 mb-5 max-w-sm mx-auto">You are now successfully sign out.</p>
													<div class="flex items-start justify-center">
															<img src="/aeropage/assets/logout-0267b7b5.png" alt="" class="h-40">
													</div>
											</div> 

											<p class="shrink text-zinc-200 text-center">Already have an account ?<a href="auth-login.html" class="text-primary ms-1"><b>Login</b></a></p>
									</div>
							</div>
					</div>
			</div>
	</div>
</div>