{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="container-fluid m-0">
    <div class="row d-flex justify-content-center w-100">
        <div class="d-flex">
            <div class="d-flex justify-content-center align-self-center">
                <div class='button-box col-2 ms-2'>
                    <button id='start-btn' class="btn start-btn btn-success ms-5 mb-5"><i class="fa-solid fa-play"></i></button>
                    <button id="reset-btn" class="reset-btn btn btn-primary ms-5"><i class="fa-solid fa-rotate"></i></button>
                </div>
            </div>
            <div class="keyboard-holder col-10" id="game">
                <div class="d-flex justify-content-center mt-5 data-box">
                    <div id="score" class="score ms-5">SCORE: 0</div>
                    <div id="random-note" class="nowplaying me-5"></div>
                    <div class="me-5"></div>
                    <div id="timer" class="ms-5">Time Left: 03:00</div>
                </div>
                <div class="col-8 d-flex justify-content-center">
                    {% include 'piano.html' %}
                </div>
            </div>
            <!-- Bootstrap Modal -->
            <div class="d-flex justify-content-center align-self-center">
                <div class="modal fade" id="gameOverModal" tabindex="-1" aria-labelledby="gameOverModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header d-flex justify-content-between">
                                <div></div>
                                <h3 class="modal-title" id="gameOverModalLabel">Game Over</h3>
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <div class="modal-body text-center">
                                <div class="d-flex justify-content-evenly mt-4">
                                    <p>Your score: <span id="final-score"></span></p>
                                    <p>High score: <span id="high-score"></span></p>
                                </div>
                                <p class="my-4">Did you know: <br><span id="random-fact"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% block footertop %}<footer class="border-top">{% endblock footertop %}
{% endblock content %}