{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="container-fluid m-0">
    <div class="row d-flex justify-content-center w-100">
        <div class="d-flex">
            <div class="d-flex justify-content-center align-self-center">
                <div class='button-box col-2 ms-2'>
                    <button id='start-btn' class="btn start-btn btn-success ms-5 mb-5"><i class="fa-solid fa-play"></i></button>
                    <button id="reset-btn" class="reset-btn btn btn-primary ms-5"><i class="fa-solid fa-rotate"></i></button>
                </div>
            </div>
            <div class="keyboard-holder col-10" id="game">
                <div class="d-flex justify-content-center mt-5 data-box">
                    <div id="score" class="score ms-5">SCORE: 0</div>
                    <div id="random-note" class="nowplaying me-5"></div>
                    <div class="me-5"></div>
                    <div id="timer" class="ms-5">Time Left: 03:00</div>
                </div>
                <div class="col-8 d-flex justify-content-center">
                    {% include 'piano.html' %}
                </div>
            </div>
        </div>
    </div>
</section>
{% block footertop %}<footer class="border-top">{% endblock footertop %}
{% endblock content %}