{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="container-fluid">
    <div class="row d-flex justify-content-center w-100">
        <div class="keyboard-holder">
            <div class="d-flex justify-content-center mt-5 data-box">
                <div id="score" class="score ms-5">SCORE: 0</div>
                <div id="random-note" class="nowplaying ms-5"></div>
            </div>
            <div class="col-7 d-flex justify-content-center">
                {% include 'piano.html' %}
            </div>
        </div>
    </div>

    <!-- <div id="'challenge-progress"></div>
    <div id="total-score"></div> -->
    <div class='button-box'>
        <button id='start-btn' class="btn start-btn btn-success" style="color: #fff"><i class="fa-solid fa-play"></i></button>
        <button id="next-btn" class="next-btn btn btn-info" style="color: #fff"><i class="fa-solid fa-forward"></i></button>
        <button id="reset-btn" class="reset-btn btn btn-primary" style="color: #fff"><i class="fa-solid fa-rotate"></i></button>
        <button id="quit-btn" class="quit-btn btn btn-danger" style="color: #fff"><i class="fa-solid fa-x"></i></button>
    </div>
    

    <audio data-key="65" src="http://carolinegabriel.com/demo/js-keyboard/sounds/040.wav"></audio>
    <audio data-key="87" src="http://carolinegabriel.com/demo/js-keyboard/sounds/041.wav"></audio>
    <audio data-key="83" src="http://carolinegabriel.com/demo/js-keyboard/sounds/042.wav"></audio>
    <audio data-key="69" src="http://carolinegabriel.com/demo/js-keyboard/sounds/043.wav"></audio>
    <audio data-key="68" src="http://carolinegabriel.com/demo/js-keyboard/sounds/044.wav"></audio>
    <audio data-key="70" src="http://carolinegabriel.com/demo/js-keyboard/sounds/045.wav"></audio>
    <audio data-key="84" src="http://carolinegabriel.com/demo/js-keyboard/sounds/046.wav"></audio>
    <audio data-key="71" src="http://carolinegabriel.com/demo/js-keyboard/sounds/047.wav"></audio>
    <audio data-key="89" src="http://carolinegabriel.com/demo/js-keyboard/sounds/048.wav"></audio>
    <audio data-key="72" src="http://carolinegabriel.com/demo/js-keyboard/sounds/049.wav"></audio>
    <audio data-key="85" src="http://carolinegabriel.com/demo/js-keyboard/sounds/050.wav"></audio>
    <audio data-key="74" src="http://carolinegabriel.com/demo/js-keyboard/sounds/051.wav"></audio>
    <audio data-key="75" src="http://carolinegabriel.com/demo/js-keyboard/sounds/052.wav"></audio>
    <audio data-key="79" src="http://carolinegabriel.com/demo/js-keyboard/sounds/053.wav"></audio>
    <audio data-key="76" src="http://carolinegabriel.com/demo/js-keyboard/sounds/054.wav"></audio>
    <audio data-key="80" src="http://carolinegabriel.com/demo/js-keyboard/sounds/055.wav"></audio>
    <audio data-key="186" src="http://carolinegabriel.com/demo/js-keyboard/sounds/056.wav"></audio>
</section>

{% endblock content %}