{% extends 'base.html' %}{% load static %} {% block content %}
<section class="mb-5">
	<div class="container col-xxl-8 px-4 mt-5 pb-5">
		<div class="row flex-lg-row-reverse align-items-center g-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img
					src="{% static 'images/hero1.jpg' %}"
					alt="piano"
					style="display: block; margin: 0 auto; max-width: 100%; height: auto"
				/>
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold lh-1 mb-3">
					Unlock Your Musical Potential with
					<span class="name">Rhythm Ready</span>
				</h1>
				<p class="lead">
					Welcome to Rhythm Ready, your ultimate music learning companion!
					Whether you’re a beginner looking to grasp the basics or an
					experienced musician aiming to refine your skills, our interactive
					lessons and challenges make learning music theory engaging and fun.
				</p>
				<div class="mt-5 d-grid gap-2 d-md-flex justify-content-center">
					<a
						href="{% url 'challenge' %}"
						class="btn primary-btn btn-lg px-4 me-md-2"
						>Free Try</a
					>
				</div>
			</div>
		</div>
	</div>
</section>
{% include 'about.html' %} {% endblock content %}
