{% extends 'base.html' %} {% load static %} 
{% block content %}
<div class="lesson-section">
  <section class="container-fluid main-content container m-0">
    <div class="row">
      <div class="col-3 p-0">
        <div class="sidebar p-0">
          <div class="sidebar-controller mt-4">
            <i class="fa-solid fa-bars" id="hamburger-menu"></i>
          </div>
          <ul>
            <li>
              <a href="#">
                <i class="fa-solid fa-school"></i>
                <span class="lesson-item">Learn</span>
              </a>
              <span class="tooltip">Learn</span>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-pen-to-square"></i>
                <span class="lesson-item">Practice</span>
              </a>
              <span class="tooltip">Practice</span>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-trophy"></i>
                <span class="lesson-item">Challenge</span>
              </a>
              <span class="tooltip">Challenge</span>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-music"></i>
                <span class="lesson-item">Play</span>
              </a>
              <span class="tooltip">Play</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-8 mt-5">

        <div class="lesson-selector mb-5">
            <button class="lesson-tab active fw-bold" data-lesson="1">Lesson 1</button>
            <button class="lesson-tab fw-bold" data-lesson="2">Lesson 2</button>
            <button class="lesson-tab fw-bold" data-lesson="3">Lesson 3</button>
        </div>
        
        <div class="lesson-content" id="lesson-1">
            <!-- Content for Lesson 1 -->
            <h1>Lesson 1: The Musical Alphabet</h1>
            <p class="mt-5">There are 8 white notes. We name notes from A to G and then repeat
                from A again. The black keys have names too. They are named as either
                sharp (#) or flat (b) of the note beside them. For example black note
                right of F is F# it is also Left of G so it can be called Gb too. This
                means that there is two possible names for all the the black notes</p>
            <p class="mt-3">
                These 12 notes just repeat over and over again on the keyboard. If
                you’re new to the piano, here is a quick way to remember where notes
                are:
            </p>
            <div class="d-flex justify-between mt-5">
                <p class="me-5">
                    <ul>
                        <li>C</li>
                        <li>C♯ or D♭</li>
                        <li>D</li>
                        <li>D# or Eb</li>
                        <li>E</li>
                        <li>F</li>
                        <li>F# or Gb</li>
                        <li>G</li>
                        <li>G# or Ab</li>
                        <li>A</li>
                        <li>A# or Bb</li>
                        <li>B</li>
                      </ul>
                </p>
                <p class="ms-5">
                    <ul>
                        <li>C is on the left of the group of the two black keys</li>
                        <li>D is in the middle of the group of the two black keys</li>
                        <li>E is on the right of the group of the two black keys</li>
                        <li>F is on the left of the group of the three black keys</li>
                        <li>G is in the middle left of the group of the three black keys</li>
                        <li>A is in the middle right of the group of the three black keys</li>
                        <li>B is on the right of the group of the three black keys</li>
                      </ul>
                </p>
            </div>
        </div>
        
        <div class="lesson-content d-none" id="lesson-2">
            <h1>Lesson 2: Basic Scales</h1>
            <p></p>
        </div>
        
        <div class="lesson-content d-none" id="lesson-3">
            <h1>Lesson 3: Chords</h1>
            <p></p>
        </div>
        {% include 'piano.html' %}
      </div>
    </div>

{% endblock %}
