{% extends 'base.html' %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/OurTeams.css' %}">
{% endblock %}

{% block title %}
Meet the team
{% endblock %}

{% block title %}

<section id="meet-the-team">
    <h2>Meet the team</h2>
    <div id="team-grid">
        <div>
            person 1
        </div>
        <div>
            person2
        </div>
        <div>
            person3
        </div>
        <div>
            person 4            
        </div>
        <div>
            person 5
        </div>
        <div>
            person 6 
        </div>
    </div>
</section>
<section id="project-info">
    <h2>Our Project</h2>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat obcaecati alias quis pariatur a consectetur! Quos laborum, dolores explicabo veniam voluptatum delectus sunt quas, nam fugiat ex soluta dolorum porro!</p>
</section>

{% end block %}